@charset "utf-8";
/*CSS Document*/

/*全局控制*/
body{margin:0; padding:0; font-size:12px; font-family:"宋体"; color:#3e3e3e;}

/*重置浏览器默认样式*/
h1,h2,h3,h4,h5,a,p,ul,li,dl,dt,dd,img,input,button{margin:0; padding:0; list-style:none; border:0; outline:none;}

/*公共样式*/
a:link,a:visited{color:#3e3e3e; text-decoration:none;}
a:hover{color:#f60; text-decoration:underline;}

/*site-nav*/
#site-nav{width:100%; height:26px; background:#f5f5f5; border-bottom:1px solid #dcdcdc;}
.site-nav-body{width:1000px; height:26px; margin:0 auto; line-height:26px;/* background:pink;*/}
.site-nav-mobile{width:45px; height:26px; float:left; background:url(../images/mobile.gif) no-repeat left center; padding-left:18px;}
.site-nav-mobile a{background:url(../images/site-nav-bg.png) no-repeat right 1px; padding-right:9px;}
.login-info{float:left; padding-left:10px;}
.quick-menu{width:592px; height:26px; float:right;}
.quick-menu li{float:left; background:url(../images/site-nav-bg.png) no-repeat right 7px; padding: 0 11px 0 5px;}
.quick-menu .no-bg{background:none;}
.quick-menu a{background:url(../images/arrow.gif) no-repeat right center; padding-right:10px;}
.quick-menu .no-arrow{background:none; padding-right:0;}
.quick-menu strong{color:#ff5500; padding:0 4px;}
.quick-menu span{background:url(../images/gw.png) no-repeat left 5px; width:14px; height:26px; float:left; margin-right:5px;}

/*#top-wrap*/
#top-wrap{width:1000px; height:106px; margin:0 auto;}
h1{width:294px; height:65px; padding-top:41px; float:left;}
.search-wrap{width:660px; height: 90px; float:right; padding-top:16px;}
.search-header{height:23px; line-height:23px;}
.search-header li{float:left; margin-right:16px;}
.search-current{background:url(../images/search-bg1.jpg) no-repeat;width:56px; height:23px; text-align:center; font-weight:bold}
.search-header .search-current a{color:#fff;}
.search-header .search-current a:hover{text-decoration:none;}
.search-header li span{color:#d84600;}
.search-body{height:34px;}
.search-body span{float:left; width:7px; height:34px; background:url(../images/search-bg2.jpg) no-repeat;}
.search-field{width:464px; height:28px; border:3px solid #f27b04; float:left; border-left:none;}
.search-btn{width:130px; height:34px; background:url(../images/search-bg4.jpg) no-repeat; float:left;}
.search-tips{width:48px; height:34px; float:left; padding-left:8px;}
.search-bottom{height:33px;}
.search-bottom li{float:left; line-height:33px; margin-right:9px;}
.label-current{color:red;}

/*#layout-two*/
#layout-two{width:1000px; overflow:hidden; margin:0 auto; border-bottom:2px solid #f27b03; font-size:14px; font-weight:bold;}
.layout-two-l{width:709px; overflow:hidden; float:left; padding-top:17px; line-height:23px; padding-left:7px;}
.layout-two-l span{float:left; width:58px; height:23px; border:1px solid #d74700; border-bottom:0; background:#f37c06; text-align:center; 
	color:#fff; margin-right:17px;}
.layout-two-l a{float:left; color:#db4701; padding:0 18px; border:1px solid white; border-bottom:0;}
.layout-two-l a:hover{text-decoration:none; background:#fff8ed; border:1px solid #f37c06; border-bottom:0;}
/*.layout-two-r{width:238px; overflow:hidden; float:right;}*/
.layout-two-r{width:246px; overflow:hidden; float:right;}
.layout-two-r a{float:left; font-size:12px; color:#db4701;}
.layout-two-r .txt{padding:22px 12px 0 10px;}

/*#layout-three*/
#layout-three{width:1000px; height:410px; margin:0 auto; overflow:hidden;}
.layout-three-l{width:198px; height:410px; float:left; background:url(../images/shadow.jpg) no-repeat right 187px;}
.product-list-content{width:178px; height:400px; background:#fff8ed; border:2px solid #f90; border-top:0; padding:0 5px;}
.product-list-content h2{height:35px; line-height:35px; font-size:14px; border-bottom:1px solid #fcdfbe; padding-left:3px;}
.product-list-content h2 a{font-size:12px; font-weight:normal; float:right; background:url(../images/arrow1.gif) no-repeat right center; 
	padding-right:6px;}
.product-list-content h3{height:28px; line-height:28px; font-size:12px; background:url(../images/icon.png) no-repeat 6px 3px; 
	padding-left:28px;}
.product-list-content .box{line-height:20px; padding:0 0 9px 8px; border-bottom:1px solid #fcdfbe;}
.product-list-content .box a{display:inline-block;}
.product-list-content .last{border-bottom:0;}
.product-list-content .bg-control-1{background-position:6px -28px;}
.product-list-content .bg-control-2{background-position:6px -57px;}
.product-list-content .bg-control-3{background-position:6px -87px;}
.product-list-content .bg-control-4{background-position:6px -117px;}


.layout-three-r{width:802px; height:410px; float:left; background:#9ff;}
/*238-70 = 168-87 = 81*/
/*180 + 140 = 320  80 - 44 = 36 - 36 = 10px*/