* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "宋体", serif;
}

#container {
    width: 100%;
    height: 100%;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}

#text-a, #text-b {
    display: -moz-box;
    display: -webkit-box;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
}

#text-a {
    background-color: darkgrey;
}

#text-b {
    background-color: gainsboro;
}

#text-a a, #text-b a {
    text-decoration: none;
}

#text-a a:hover, #text-b a:hover {
    text-decoration: none;
    font-size: 48px;
    color: red;
}

