* {
    margin: 0;
    padding: 0;
}

body {
    width: 93.75%;
    margin: 0 auto;
}

header {
    border-bottom: solid 1px #858585;
    overflow: hidden;
    margin: 10px 0;
}

h1#logo {
    width: 260px;
    height: 60px;
    float: left;
    overflow: hidden;
}